@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  overflow: hidden;
}

.ease-logo {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha value here */
  border-radius: 0.5rem;
  padding: 2rem;
  max-width: 500px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button[type="submit"] {
  background-color: #D8B906;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #C4A006;
}

.amber-text {
  color: rgba(216, 185, 6, 1);
}