@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.ease-logo {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha value here */
  border-radius: 0.5rem;
  padding: 2rem;
  max-width: 500px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button {
  background-color: #d8b906;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c4a006;
}
.custom-btn {
  background-color: #d8b906;
  transition: background-color 0.2s ease-in-out;
}

.custom-btn:hover {
  background-color: #c4a006;
}
.amber-text {
  color: rgba(216, 185, 6, 1);
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
